/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




#body.block {
    overflow: hidden;
}

body {
    font-family: 'Teko', sans-serif;
}

.header {
    background-color: #fff;
    position: fixed;
    z-index: 50;
    width: 100%;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

.container {
    max-width: 350px;
    margin: auto;
    padding: 15px 0;
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_nav ul  {
    display: flex;
}

.header_nav li + li {
    margin-left: 10px;
}

.burg {
    position: relative;
    width: 30px;
    height: 20px;
    left: 0;
    z-index: 3;
    background: transparent;
    border: none;
    transition: all 0.7s ease;
}

.burg span {
    position: absolute;
    background-color: #323941;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease;
}

.burg::before,
.burg::after {
    content: '';
    background-color: #323941;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease;
}

.burg::before {
    top: 0;
}

.burg::after {
    bottom: 0;
}

.burg.visible::before{
    transform: rotate(45deg);
    top: 9px;
    background-color: #323941;
}

.burg.visible::after{
    transform: rotate(-45deg);
    bottom: 9px;
    background: #323941;
}

.burg.visible span {
    transform: scale(0);
}

.nav_menu {
    position: fixed;
    top: 63px;
    left: -1000%;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    background-color: #323941;
    padding: 25px 0px 0px 20px ;
    z-index: 3;
}

.nav_menu.visible {
    left: 0;
}

.nav_ul li {
    margin: 0px 0px 20px 0px;
}

.nav_ul a {
	font-weight: 400;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
}

.main {
    background-color: #323941;
}

.sub_main {
    margin-top: 65px;
}

.sub_main ul {
    display: flex;
    justify-content: space-evenly;
}

.sub_main li {
    display: inline-block;
    text-align: center;
}

.sub_main p {
    color: #999999;
    font-weight: 600;
    font-size: 15px;
}

.segway {
    background-color: #fff;
}

.sub_segway {
    text-align: center;
}

.sub_segway button {
    background-color: #fff;
    border: #6ACD68 solid 2px;
    color: #6ACD68;
    padding: 5px 25px 5px 25px;
}

.sub_segway h1 {
    color: #323941;
    font-weight: 700;
    font-size: 37px;
    margin: 15px 0 15px 0;
}

.segway_table1 {
    border: #009EFF solid 5px;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-top: 20px;
}

.text_table1 {
    margin-right: 10px;
}

.text_table1 h2 {
    color: #323941;
    font-weight: 700;
    font-size: 20px;
}

.text_table1 span {
    color: #009EFF;
}

.text_table1 p {
    color: #323941;
    font-weight: 300;
    font-size: 14px;
    margin-top: 10px;
}

.segway_table2 {
    border: #999999 solid 5px;
    margin-top: 20px;
    text-align: center;
    padding: 15px;
}

.segway_title {
    color: #323941;
    font-weight: 400;
    font-size: 18px;
}

.segway_title span {
    color: #323941;
    font-weight: 700;
    font-size: 18px;
}

.text_table2-1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text_table2-1 div {
    border: #999999 solid 1px;
    padding: 5px 20px 5px 20px;
}

.text_table2-1 p {
    color: #323941;
    font-weight: 400;
    font-size: 18px;
}

.text_table2-1 p + p {
    color: #009EFF;
    font-weight: 600;
    font-size: 18px;
}

.segway_price1 {
    color: #323941;
    font-weight: 300;
    font-size: 22px;
    text-decoration: line-through;
}

.segway_price2 {
    color: #323941;
    font-weight: 700;
    font-size: 38px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.to_buy {
    display: flex;
    justify-content: space-evenly;
}

.to_buy p {
    color: #fff;
    background-color: #009EFF;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
}

.payment {
    text-align: center;
    margin-top: 20px;
}

.payment_title {
    color: #323941;
    font-weight: 300;
    font-size: 18px;
}

.payment_img {
    margin: 10px 0 10px 0;
}

.payment_text p {
    color: #009EFF;
    font-weight: 600;
    font-size: 18px;
}

.payment_text span {
    color: #060809;
}

.payment_text p + p {
    color: #6ACD68;
}

.shipping {
    background-color: #f8f8f8 ;
}

.sub_shipping {
    text-align: center;
}

.sub_shipping img {
    margin-top: 40px;
}

.sub_shipping h2 {
    color: #323941;
    font-weight: 700;
    font-size: 24px;
    margin: 20px 0 10px 0;
}

.sub_shipping p {
    color: #999999;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 20px;
}

.shipping_img {
    display: flex;
    justify-content: space-evenly;
}

.shipping_img img {
    background-color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
}

.packing_list {
    background-color: #fff;
}

.sub_packing {
    text-align: center;
}

.sub_packing h2 {
    color: #323941;
    font-weight: 700;
    font-size: 26px;
    margin: 50px 0 25px 0;
}

.packing_img {
    transform: rotate(-5deg);
}

.packing_video {
    background-color: #C4C4C4;
    padding: 50px 0 50px 0;
}

.packing_video p {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    margin-top: 10px;
}

.accessories {
    background-color: #fff;
}

.sub_accessories h2 {
    color: #323941;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    margin: 25px 0 25px 0;
}

.accessories_price {
    display: flex;
    justify-content: space-evenly;
}

.accessories_price img {
    height: 128px;
}

.accessories_price img + img {
    height: 138px;
}

.accessories_price h3 {
    color: #323941;
    font-weight: 700;
    font-size: 18px;
    margin: 10px 0 10px 0;
}

.accessories_price p:nth-child(3) {
    color: #999999;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.price {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

.price p {
    color: #999999;
    font-weight: 400;
    font-size: 16px;
}

.price p + p {
    color: #323941;
}

.accessories_price div > p:nth-child(5) {
    color: #fff;
    text-align: center;
    background-color: #009EFF;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;
    font-weight: 400;
    font-size: 16px;

}

.back_fon {
    background: no-repeat center center url(/image/back_fon.jpg);
    background-size: cover;
}

.sub_back_fon {
    height: 406px;
}

.impressive_features {
    background-color: #f8f8f8;
}

.sub_impressive h2 {
    text-align: center;
    color: #323941;
    font-weight: 700;
    font-size: 28px;
    margin: 30px 0 30px 0;
}

.sub_features1,
.sub_features2 {
    margin-bottom: 25px;
}

.features_img1,
.features_img2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.features_text1,
.features_text2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.features_text1 p,
.features_text2 p {
    color: #009EFF;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
}

.features_text1 p + p,
.features_text2 p + p {
    color: #999999;
    font-size: 12px;
}

.kickscooter_overview {
    background-color: #fff;
}

.title_kickscooter_overview {
    text-align: center;
    margin: 50px 0 25px 0;
}

.title_kickscooter_overview h2 {
    color: #323941;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
}

.title_kickscooter_overview p {
    color: #009EFF;
    font-weight: 700;
    font-size: 18px;
}

.content_kickscooter_overview {
    position: relative;
}

.content_kickscooter_overview img {
    width: 100%;
}

.text_kickscooter_overview {
    position: absolute;
    top: 30px;
    left: 180px;
}

.text_kickscooter_overview li {
    list-style: decimal;
    color: #999999;
    font-weight: 300;
    font-size: 16px;
}

.management_system {
    height: 291px;
    background: url(image/management_system.jpg);
    box-shadow: inset 0 -50px 60px rgb(0 0 0);
    background-size: cover;
    background-position: center;
}

.text_management_system {
    background: radial-gradient(rgba(21,29,55,1), #000);
    box-shadow: inset 0 10px 25px rgb(0,0,0,1);
}

.sub_text_management h2 {
    color: #fff;
    font-weight: 700;
    line-height: 24px;
    font-size: 20px;
    letter-spacing: 1px;
}

.sub_text_management p {
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    margin: 10px 0 40px 0;
    letter-spacing: 1px;
}

.dual_braking_system {
    background: url(image/braking_system.jpg);
    background-size: cover;
    background-position: center;
    height: 351px;
}

.text_braking_system {
    background-color: #fff;
}

.sub_text_braking h2 {
    color: #323941;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.sub_text_braking p {
    color: #323941;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1px;
}

.sub_text_braking p:nth-child(2) {
    margin: 10px 0 10px 0;
}

.front_led_light {
    height: 291px;
    background: url(image/front_led_light.jpg);
    box-shadow: inset 0 -50px 60px rgb(0 0 0);
    background-size: cover;
    background-position: center;
}

.text_led_light {
    background: radial-gradient(rgba(21,29,55,1), #000);
    box-shadow: inset 0 10px 25px rgb(0,0,0,1);
}

.sub_text_light h2 {
    color: #fff;
    font-weight: 700;
    line-height: 24px;
    font-size: 20px;
}

.sub_text_light p {
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1px;
}

.sub_text_light p:nth-child(2) {
    margin: 10px 0 10px 0;
}

.folding_mechanism {
    background: #fff;
}

.sub_folding_mechanism {
    text-align: center;
}

.sub_folding_mechanism h2 {
    color: #323941;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.sub_folding_mechanism p {
    color: #323941;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 10px 0 50px 0;
}

.sub_folding_mechanism img {
    width: 100%;
    height: 205px;
}

.power_recycle {
    height: 240px;
    background: url(image/power_recycle.jpg);
    background-size: cover;
    background-position: center;

}

.text_power_recycle {
    background: radial-gradient(rgba(21,29,55,1), #000);
    box-shadow: inset 0 50px 50px rgb(0,0,0,1);
}

.sub_text_recycle h2 {
    color: #fff;
    font-weight: 700;
    line-height: 24px;
    font-size: 20px;
}

.sub_text_recycle p {
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 10px 0 20px 0;
}